@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

body {
    height: 100vh;
    background-color: #5d5ba3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(137deg, #2925b5, #bf5454);
}

.container {
    background-color: aliceblue;
    height: 45rem;
    width: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1rem 2rem 2rem 0rem rgb(0 0 0 / 25%);
}

.header {
    height: 20%;
    background: linear-gradient(315deg, #d03232, #007dff);
    position: relative;
}

#clearAll-btn {
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 69rem;
    background-color: rgb(0 0 0);
    position: absolute;
    right: 0;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: auto;
    height: auto;
}

.content {
    position: relative;
    height: 80%;
}

.add-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: aliceblue;
    padding: 0.5rem 0;
}

.item {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

#date {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

#input {
    width: 20rem;
    border-radius: 1rem;
    padding: 0 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    overflow-y: auto;
    height: calc(100% - 3rem);
}

#add-btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgb(8, 136, 255);
    width: 2.5rem;
    height: 2.5rem;
}

button {
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.75);
    border: none;
    width: 2rem;
    height: 1.5rem;
    border-radius: 0.25rem;
}

.done-btn {
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}

.done-btn:hover {
    background-color: red;
}

li:hover {
    background-color: #fff;
}
